Checks: >
  -*,
  bugprone-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -readability-uppercase-literal-suffix,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -performance-enum-size,
  -cppcoreguidelines-avoid-c-arrays,
  -readability-redundant-member-init,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -misc-no-recursion,
  -llvm-prefer-static-over-anonymous-namespace,
  -readability-convert-member-functions-to-static,
  -misc-const-correctness

# FIXME:
# - we should bring back misc-const-correctness once we have time to fix it, for now it's noise
