---
BasedOnStyle: WebKit
AllowShortFunctionsOnASingleLine: None
ColumnLimit: '110'
Cpp11BracedListStyle: 'false'
IndentWidth: '4'
SpaceAfterCStyleCast: 'true'
TabWidth: '4'
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Attach
PointerAlignment: Right
IndentCaseLabels: 'true'
SortIncludes: true
BreakTemplateDeclarations: Yes

...
