Checks: >
  -*,
  bugprone-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -readability-uppercase-literal-suffix,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
